<div class="main">
  <div class="form">
    <div class="form__title">
      Авторизація
    </div>
    <div class="form__content">
      <div class="form_item">
        <div>
          <label for="email">Введіть ваш email
          </label>
        </div>
        <div>
          <input type="email" id="email">
        </div>
      </div>
      <div class="form_item">
        <div>
          <label for="password">Введіть ваш пароль
          </label>
        </div>
        <div>
          <input type="password" id="password">
        </div>
      </div>
      <div style="align-self: center">
        <button class="form_button" style="padding: 10px 20px">Увійти</button>
      </div>
    </div>
  </div>
</div>
