<div class="main">
  <header>
    <nav class="navbar navbar-expand-lg p-4" style="background-color: rgba(16, 97, 5, 0.5);">
      <div class="collapse navbar-collapse">
        <a href="#"><h2>Pdd Learn</h2></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Що я можу?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Допомога</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Регістрація</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/login']" class="nav-link">Увійти</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="tagline justify-content-lg-start">
      <div>
        <div class="row ">
          <img src="../assets/parking-sign.png" class="animated mt-3" id="parking-sign" alt="P">
          <h1 id="title" class="animated text-start">dd Learn</h1>
        </div>
        <div class="description">
          <h3 class="text-start fadeInRight">
            Це новий шлях до вивчення та тестування правил дорожнього руху. Реєструйтесь прямо зараз як студент чи інструктор та починайте навчання одразу!
          </h3>
        </div>
      </div>
  </div>
  <div class="container row justify-content-center" style="border: 1px solid black;">
    <div class="row">
      <h1 class="text-center">Що я можу ?</h1>
    </div>
  </div>
</div>


