
.container {
  margin-top: 100px;
}

#title {
  font-size: 110px;
  font-weight: bold;
}

#parking-sign {
  width: 135px;
  height: 120px;
}

.description {
  width: 45%;
}

.tagline {
  padding: 5%;
  height: 800px;
  color: #fff;
  background-image: url('D:\Pdd_Learn_Project\pdd-learn-api\src\assets\header2.jpg');
  /* background-color: #659DBD; */
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 30px rgba(0,0,0,0.8);
}

.footer-item p {
  border-bottom: 1px solid black;
}
