
.container {
  margin-top: 100px;
}

#title {
  font-size: 130px;
  font-weight: bold;
}

#parking-sign {
  width: 145px;
  height: 130px;
}

.description {
  width: 60%;
}

.tagline {
  padding: 5%;
  height: 800px;
  color: #fff;
  background-image: url('/assets/traffic_signs.jpg');
  /* background-color: #659DBD; */
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 30px rgba(0,0,0,0.8);
}

.footer-item p {
  border-bottom: 1px solid black;
}
