.navbar {
  border-bottom: 10px solid #fff;
  background: linear-gradient(90deg, rgb(144, 149, 60) 0%, rgba(159,205,152,1) 100%);
}

ul, li {
  margin-left: 36px;
  font-size: 20px;
  margin-top: 5px;
}

#logo {
  font-size: 32px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: background-color 1.5s ease;
  border-radius: 10px;
}

li a {
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

li a:hover {
  border-radius: 10px;
  color:  rgba(0,0,0,0.7);
  background-color: #fff;
}
